#content {
    width: 800px;
    border: 5px solid brown;
    margin: auto;
    padding: 30px;
    background-color: burlywood;
    
    
}
img {
    width: 100%;
}
bady {
    background-color: red;
}